<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.com.daviddf.paranoiasgamers">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="com.stfalcon.multiimageview"/> <!-- min 16 -->

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:name=".chat.main.BaseApplication"
        android:allowBackup="true"
        android:backupInForeground="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".Informacion" />
        <activity
            android:name=".PantallaCarga"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="paranoiasgamers.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".ViewPost"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="foro.paranoiasgamers.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1898862918213076~8640497456" />
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />


        <activity android:name=".chat.main.LoginActivity">

        </activity>
        <activity android:name=".chat.main.MainActivity"
            android:label="@string/select_channel_type"/>
        <activity
            android:name=".chat.main.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".chat.main.BlockedMembersListActivity"
            android:label="@string/blocked_members_list" />

        <activity android:name=".chat.utils.PhotoViewerActivity" />
        <activity
            android:name=".chat.utils.MediaPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".chat.openchannel.CreateOpenChannelActivity"
            android:label="@string/create_open_channel"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".chat.groupchannel.InviteMemberActivity"
            android:label="@string/invite_member" />
        <activity
            android:name=".chat.groupchannel.MemberListActivity"
            android:label="@string/member_list" />
        <activity
            android:name=".chat.groupchannel.MemberInfoActivity"
            android:label="@string/member_info" />
        <activity
            android:name=".chat.groupchannel.CreateGroupChannelActivity"
            android:label="@string/create_group_channel" />
        <activity
            android:name=".chat.openchannel.ParticipantListActivity"
            android:label="@string/participant_list" />
        <activity android:name=".chat.openchannel.OpenChannelActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".chat.groupchannel.GroupChannelActivity"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".chat.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".chat.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.font"
            android:resource="@font/adamina"/>
    </application>

</manifest>